<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/kumar003vinod/wine" target="_blank"><img src="images/facebook_share.png" alt="Facebook" /></a>
    </div>
	<div class="footer_right">
		<p><a href="index.html">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a></p>
        <p>Copyright © 2084 <a href="#">Company Name</a> | Design: <a href="http://www.templatemo.com/preview/templatemo_385_floral_shop" rel="nofollow">Floral Shop</a></p>
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->

