<div id="templatemo_wrapper_sp">
<div id="templatemo_header_wsp">
	<div id="templatemo_header" class="header_subpage">
    	<div id="site_title"><a href="/" rel="nofollow">Free CSS Templates</a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Products</a>
                    <ul>
                        <li><a href="http://www.templatemo.com/page/1" rel="nofollow">Sub Page One</a></li>
                        <li><a href="http://www.templatemo.com/page/2" rel="nofollow">Sub Page Two</a></li>
                        <li><a href="http://www.templatemo.com/page/3" rel="nofollow">Sub Page Three</a></li>
                        <li><a href="http://www.templatemo.com/page/4" rel="nofollow">Sub Page Four</a></li>
                        <li><a href="http://www.templatemo.com/page/5" rel="nofollow">Sub Page Five</a></li>                        
                  	</ul>
                </li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faqs">FAQs</a></li>
	
				<% if (user) { %>
 	               <li><a href="/profile">Profile</a></li>
 	               <li><a href="/logout">Logout</a></li>				
				<% } %>
                
            </ul>
            <div id="templatemo_search">
                <form action="#" method="get">
                  	<input type="text" value="Site Search" name="keyword" id="keyword" title="keyword"
                  			onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  	<input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn" />
                </form>
            </div>
            <br style="clear: left" />
        </div>
        <a href="http://www.clipartlogo.com" title="clip art"  class="site_repeat" target="_blank"><img src="images/top_repeat.png" title="clip art from www.clipartlogo.com" alt="clip art from www.clipartlogo.com" /></a><!-- end of templatemo_menu -->

    </div> <!-- END of header -->
</div> <!-- END of header wrapper -->

